:host{
    display: block;
    background-color: #fff;
    position: relative;
    min-height: 100px;
    border: 1px solid #eee;
    border-top: 0;
    .indicator{
        width: 6px;
        border-radius: 4px;
        position: absolute;
        left: 50px;
        top: 75px;
        height: calc(100% - 100px);
    }
    button{
        i{
            color: rgba(63, 81, 181, 0.67);
        }
    }
    &:hover{
        background-color: #fafafa;
    }
    &.modal-highlight{
        &/deep/.media{
            background: #f0f2ff;
            border: 0;
            padding: 1.8rem;
            p{
                font-size: 22px;
            }
        }
    }
    .media{
        border-bottom: 0;
    }
    .media-body{
        padding-left: 80px;
    }
    .media-body,
    img{
        position: relative;
        p{
            cursor: pointer;
        }
    }
    &/deep/a,&/deep/button{
        position: relative;
    }
    &/deep/.click-overlay{
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
}