<div (click)="mergeNewAddedTopic()" *ngIf="newPosts?.length>0" class="btn-sm w-100 rounded-0 btn btn-secondary p-2 text-center">
    {{newPosts?.length}} new {{(newPosts.length<=1)?'topic':'topics'}}
</div>
<fio-feed class="p-2" *ngFor="let post of posts" [_id]="post?.id"></fio-feed>
<div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()">
</div>
<div *ngIf="posts.length==0&&!loadingData">
    <div class="alert alert-info">No data to load</div>
</div>
<div *ngIf="!scrollPrestine&&posts.length>0">
    <div *ngIf="!finished">
        Loading...
    </div>
    <div *ngIf="finished">
        No data
    </div>
</div>