:host{
    display: block;
    .search-box{
        position: relative;
        input{
            width: 220px;
            padding: 4px;
            background-color: #f5f8fa;
            border-radius: 21px;
            border: 1px solid #e6ecf0;
            font-size: 12px;
            height: 32px;
            line-height: 16px;
            padding: 8px 32px 8px 12px;
            box-sizing: border-box;
        }
        span{
            position: absolute;
            right: 14px;
            top: 0;
            height: 30px;
            line-height: 30px;
            color: #9e9e9e;
        }
        /deep/ .dropdown-item{
            padding: 5px;
        }
    }
}