:host{
    display: block;
    .display-4{
        font-size: 28px;
    }
    fio-feed-form{
        position: relative;
        padding: 0;
        background: transparent;
        border: 1px solid #eee;
        // border-radius: 6px;
    }
}