:host{
    display: block;
    button{
        position: relative;
        overflow: hidden;
        input{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
        }
    }
}